<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <h1>Help Center</h1>
    <p>Frequently Asked Questions</p>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Manage Account</a>
        <a href="#" class="list-group-item list-group-item-action">Help with Troubleshooting</a>
        <a href="#" class="list-group-item list-group-item-action">Signup and Enroll</a>
    </div>
</main>