<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <h1>Status</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="col-sm border border-primary">
                    Monthly Summary
                </div>
                <!-- <div class="container"> -->
                <div class="row" style="margin: 0px 0px 20px 0px">
                    <div class="col-4 col-sm-6 border border-primary">
                        <p>Support</p>
                        <p>24 of 40 Hours used</p>
                    </div>
                    <div class="col-4 col-sm-6 border border-primary">
                        <p>Managed Services</p>
                        <p>18 of 30 Hours used</p>
                    </div>
                </div>
                <!-- </div> -->
                <div class="col-sm border border-primary">
                    Case Overview
                </div>
                <div class="col-sm border border-primary">
                    Log a case
                </div>
            </div>
            <div class="col-sm">
                <p style="margin: 0px 0px 20px 0px; text-align: center">Carl your AI Support Help</p>
                <div class="col-sm">
                    <iframe width="100%" height="400" src="https://webchat.botframework.com/embed/CroweHorwathBot?t=2FngZvfeNLw.cwA.MKM.h_Xfeq7CKFaRUVNNWxAvIi71wZLYkkQKJlzY_VkGl-k"></iframe>
                </div>
            </div>
            <div class="col-sm">
                <div class="col-sm border border-primary">
                    <h2>My Account</h2>
                    <p>Account: 71293871894</p>
                    <a>View Account Details</a>
                </div>
                <div class="col-sm border border-primary">
                    Microsoft Updates, Patches & Hotfixes
                </div>
                <div class="col-sm border border-primary">
                    Crowe News and Events
                </div>
            </div>
        </div>
    </div>
</main>