<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <h1>My Account</h1>
    <p>Account: 120912837409</p>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">My Plan</a>
        <a href="#" class="list-group-item list-group-item-action">Billing Information</a>
        <a href="#" class="list-group-item list-group-item-action">Shipping Information</a>
        <a href="#" class="list-group-item list-group-item-action">Account Settings</a>
    </div>
</main>